@import '../../styles/variables';



.landingScreen {
    background-color: $primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        background-color: $secondary-color;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        .navItem{
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            a{
                text-decoration: none;
                color: inherit;
            }
            @media (max-width: 768px){
                font-size: 1rem;
            }
        }
    }
    .landingContent{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 3rem;
        color: $font-color-1;
        h1{
            margin: 0;
        }
        .firstLine{
            height: 15vh;
            overflow: hidden;
            text-align: center;
        }
        .secondLine{
            height: 20vh;
            overflow: hidden;
            text-align: center;
        }
        @media (max-width: 768px){
            .firstLine{
                height: 15vh;
            }
            .secondLine{
                height: 15vh;
            }
        }
    }
}