@import '../../styles/variables';

.mySkillsScreen {
    width: 100%;
    background-color: $primary-color;
    padding-bottom: 5rem;
    overflow: hidden;
    h2 {
        font-size: 3rem;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
        color: $font-color-1;
    }
}